<!doctype html>
<html lang="en">
<head>
    <title>Failed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

</head>
<body style="background-color:pink;">

  <form action="/" method="post">
      <h2 style="text-align:center;font-size:200%;color:red;" onClick="window.location.reload();window.history.back()">YouTube Video Downloader</h2>
  </form>

<h1 style="font-size:200%;text-align:center;color:orange; position:relative; top:100px;">UNSUPPORTED URL</h1>

<h1 style="font-size:200%;text-align:center;color:navy; position:relative; top:100px;", onClick="window.location.reload();window.history.back()">TRY AGAIN</h1>

</body>
</html>